.hidden {
  display: none !important;
}

.btn-primary {
  background-color: #03a9f4;
  border-color: #03a9f4;
  &:hover {
    background-color: #03a9f4;
    border-color: #03a9f4;
  }
}

.btn {
  cursor: pointer;
}

.btn-default {
  background: 0 0;
  border-color: #6f787f;
  color: #4b5256;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 888;
  background: rgba(255, 255, 255, 0.6);
}

.flex {
  display: flex;
}
